body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Rubik Dirt', cursive;
}
code {

}
.ancients-container {
  display: flex;
  flex-wrap: wrap;
column-gap: 50px;
  margin-top: 200px;
  width: 700px;
}
.ancients-container .ancient-card {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  cursor: pointer;
  width: 253px;

}
.ancient-card-active {
  transform: scale(1.3);
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: -70px;
  margin-left: -617px;
}
.difficulty-container .difficulty {
  display: none;
  background: #000000;
border: 4px solid #FB1919;
  box-sizing: border-box;
color: white;
  font-weight: 500;
  font-size: 30px;
  line-height: 70px;
  cursor: pointer;
  text-align: center;
  width: 275px;
height: 70px;
}
.difficulty-container .difficulty-active {
  background-color: #FB1919;
display: block;
}

.deck-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 154px;
  margin-left: -300px;
}
.deck-container .shuffle-button {
  display: none;
  width: 275px;
height: 70px;
background: #FB1919;
border: 5px solid #000000;
  cursor: pointer;
  margin-top: -100px;
}

.deck-container .shuffle-button-active {
  display: block;
}

.shuffle-text{
  color: black;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
  cursor: pointer;
}

.deck-container .current-state {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 30%;
}
.deck-container .current-state .stage-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 0px;
}
.deck-container .current-state .stage-container .stage-text {
  font-size: 20px;
  color: white;
}
.deck-container .current-state .stage-container .stage-text.done {
  color:#FB1919;;
}
.deck-container .current-state .stage-container .dots-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.deck-container .current-state .stage-container .dot {
  align-items: center;
  display: flex;
  width: 72px;
  height: 20px;
  border: 3px solid #000000;
  justify-content: center;
 
}

.stage-card {
  display: flex;
  justify-content: center;
}
.deck-container .current-state .stage-container .dot.green {
  background-color: #31BF51;
}
.deck-container .current-state .stage-container .dot.brown {
  background-color: #FB1919;;
}
.deck-container .current-state .stage-container .dot.blue {
  background-color: #88A9FF;
}
.deck-container .deck {
  cursor: pointer;
}
.deck-container .deck,
.deck-container .last-card {
  display: none;
  background-size: cover;
  height: 190px;
  width: 130px;
  border: 4px solid #000000;
  margin-left: 20px;
}

.deck-container .deck-active {
  display: block;
}
.deck-container .last-card-active {
display: block;
}


.App {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 550px;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
